*{
  box-sizing: border-box;
}
.Main{
 background-image: url("./background.jpg");
 background-attachment:scroll;
 background-position: center;
 background-repeat:repeat-y;
 background-size: contain;
 height: auto;
 display: flex;
 flex-direction: column;
align-content: center;
}